<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sava.savaNotification.mapper.SubscriptionMapper">
    <insert id="create">
        <selectKey keyProperty="pk" resultType="int" order="BEFORE">
            <include refid="com.sava.savaNotification.mapper.CommonSql.getSequence">
                <property name="sequenceName" value="SEQ_SUBSCRIPTION_PK"/>
            </include>
        </selectKey>
        INSERT INTO SUBSCRIPTION
        (PK, NAME, ENDPOINT, AUTH, P256DH)
        VALUES  (${pk}, null, ${endpoint}, ${keys.auth}, ${keys.p256dh})
    </insert>
</mapper>
